
/* DELJO PAKLAUST AR JIS NK NEGADINS TOKS BUDAMAS
.btn, .btn-large, .btn-small {
    
    color: white;
    background-color: red;

}*/

.active, .collapsible:hover {
  background-color: #ccc;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.marsiukas {
  background-image: url("https://www.desktopbackground.org/p/2011/05/28/210217_sea-on-mars-wallpaper_1920x1080_h.jpg");
}

.marsas {
height: 300px;
width: 450px;
}

.thetwo	{
	color: white;
	/*background-color: black;*/
	text-align: center;
}

.theone:hover	{
	color: white;
}

.theone	{
	color: red;
	/*background-color: black;*/
	text-align: center;
	background-image: url("https://www.syfy.com/sites/syfy/files/styles/1200x680/public/wire/legacy/Red-Planet-header.jpg");
}

.mars {
	width: 100%;
	height: 200px;
}

.klase1 {background-color: black;
color: white;  }
.klase2 {background-color: black;
color: white;  }

