

.thetwo	{
	color: white;
	background-color: black;
	text-align: center;
}

.theone	{
	color: red;
	background-color: black;
	text-align: center;
}

.mars {
	max-width: 100%;
	max-height: 10%;
}

.klase1 {background-color: black;
color: white;  }
.klase2 {background-color: black;
color: white;  }

