.card-image{
	vertical-align: center;
}

.ivertinimas{
	position: fixed;
	bottom: 45px;
	right: 10px;
	background-color: white;
	padding-left: 15px;
	padding-right: 15px
}

.aina2 {
	color: #7986cb;
	font-style: italic;	
	font-weight: bold;
}

.forma {
	position: fixed;
	top: 100px;
	right: 10px;
}

.thisbutton {
    
    color: white;
    background-color: red;

}

.barber {
	margin: 10px;
	font-weight: bold;

}

.carousel {
 position: center;
}

.carousel .carousel-item{
	width: 500px;
	height: 500px;
}

.collapsible:hover {
  background-color: white;
}

.collapsible {
  background-color: green;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 15%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.content {
	background-image: url("https://www.desktopbackground.org/p/2011/05/28/210217_sea-on-mars-wallpaper_1920x1080_h.jpg");
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: red;
}

.marsiukas {
  background-image: url("https://www.desktopbackground.org/p/2011/05/28/210217_sea-on-mars-wallpaper_1920x1080_h.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.marsas {
height: 300px;
width: 300px;
border-radius: 50%;
}

.thetwo	{
	color: white;
	/*background-color: black;*/
	text-align: center;
}

.theone:hover	{
	color: white;
}

.theone	{
	color: #ff1744;
	/*background-color: black;*/
	text-align: center;
	background-image: url("https://www.syfy.com/sites/syfy/files/styles/1200x680/public/wire/legacy/Red-Planet-header.jpg");
}

.mars {
	width: 100%;
	height: 200px;
}

.zvaigzdes {
	display: block;
	width: 100%;
	height: 600px;	
	margin: 0px; 
}

.saule{
	width: 450px;
	height: 250px;
}

.klase1 {
	background-color:yellow;
	color: white;
  	text-shadow: 4px 4px 8px #000000;
	margin: 0;
	text-align: center; 
}
.klase2 {
	background-image: linear-gradient(yellow, black);
	color: black;
	text-align: left;
	width: 100%;
	height: 100%;  
  	padding: 50px;
  	margin: 0px;
  	display: flex;
  	flex-wrap: wrap;
  }

.klase2 img	{
	height: 200px;
	width: 200px;
	border-radius: 50%; 
}
.klase2 p {
	width: 200px;
}
.audio{
	position:fixed;
	bottom: 0px;
	right: 0px; 
}




nav {
	background: #0d47a1;
}

.page-footer {
	background: #0d47a1;
}

.konteineris {
	display: flex;
	max-width: 900px;
	border: 3px solid #bbbbbb;
	padding: 25px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.aina1{
	text-align: center;
	width: 33.333%;
	padding: 15px;
}


.dovile{
	text-align: center;
	color: #37474f;
	font-style: italic;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

/*h1{
	text-align: center;
	color: #607d8b;
}*/

.belekas{
	background-color: #e3f2fd;
}

.map{
	padding: 20px;
	width: 100%;
	height: 400px ;
}

.blokas{
	padding: 50px;
}

.adresas{
	font-weight: bold;
	color: black;
	padding: 50px;
}

.instagram{
	padding: 50px;
	text-align: center;
	color: black;
	font-style: italic;
}

.insta{
	position: relative; 

}

.insta h5{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-weight: bold;
}

.pictas{
	width: 100%;
	height: 350px;

}

.dovi{
	text-align: center;
	color: #37474f;
	font-weight: bold;
	padding-bottom: 50px;
}
.dovi:hover{
	color:	#607d8b;
	font-style: italic;
}

.insta:hover{
	color:	#f48fb1;
	font-style: italic;
}

.instagram:hover{
	color:	#607d8b ;
	font-style: italic;
}

.zmones{
	position: relative;
}

.juosta{
	position: absolute;
	width: 100%;
	height: 100px;
	background-color: #37474f;
}

.relatyvus{
	position: relative;
}

.pastraipa{
	text-align: left;
}